<html xmlns:th="http://www.thymeleaf.org">>
<head>
    <title>Title</title>
    <link type="text/css"
          rel="stylesheet"
          href=${pageContext.request.contextPath}/resources/css/style.css />
</head>
<body>

<div id="wrapper">
    <div id ="header">
        <h2>ConfRoom - admin panel </h2>
    </div>
</div>
<div id = "container" >
    <div id="content">


        <!-- put new button: Add confRoom -->
        <input type="button" value="Add confRoom"
                onclick="window.location.href='saveConf';return false;"
                    class="add-button">
        <table>
            <tr>
                <th>floor</th>
                <th>hdmi</th>
                <th>instruction</th>
                <th>labels</th>
                <th>lan</th>
                <th>name</th>
                <th>remotes</th>
                <th>skypeVc</th>
                <th>comments</th>

            </tr>

            <th:block th:each="conf : ${confRoomModel}">
                <tr>
                    <td th:text="${conf.floor}">floor</td>
                    <td th:text="${conf.name}">name</td>
                    <td th:text="${conf.name}">hdmi</td>
                    <td th:text="${conf.name}">skypeVc</td>
                    <td th:text="${conf.name}">remotes</td>

                </tr>
            </th:block>
        </table>

    </div>

</div>
<br><br>
</div>
<a href="${pageContext.request.contextPath}/conf/admin">Back to List</a>

</div>
</body>
</html>
