<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>ConfRoom</title>
</head>
<body>

<div id="wrapper">
    <div id ="header">
        <h2>Conference Rooms:</h2>
    </div>
</div>
</br>
        <input type="button" value="Add confRoom"
                onclick="window.location.href='saveConf';return false;"
                    class="add-button">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>floor</th>
                <th>name</th>
                <th>skypeVC</th>
                <th>hdmi</th>
                <th>remotes</th>
                <th>lan</th>
                <th>labels</th>
                <th>instructions</th>
                <th>comments</th>

            </tr>
            </thead>
            <th:block th:each="conf : ${confRoomModel}">
                <tr>
                    <td th:text="${conf.floor}">floor</td>
                    <td th:text="${conf.name}">name</td>
                    <td th:text="${conf.skypeVc}">skypeVc</td>
                    <td th:text="${conf.hdmi}">hdmi</td>
                    <td th:text="${conf.remotes}">remotes</td>
                    <td th:text="${conf.lan}">lan</td>
                    <td th:text="${conf.labels}">labels</td>
                    <td th:text="${conf.instruction}">instruction</td>
                    <td th:text="${conf.comments}">comments</td>
                    <input type="button" value="Update confRoom"
                           onclick="window.location.href='saveConf';return false;"
                           class="update-button">
                </tr>
            </th:block>
        </table>

    </div>

</div>
<br><br>
</div>
<p>Click <a th:href="@{/home}">here</a> go to Home</p>

</div>
</body>
</html>
