<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference Rooms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h3>Conference Rooms</h3>

        <p style="font-size: small" align="left">
        <label for="Name">Search by name:</label>
        <input type="text" id="Name" name="Name" />
            <input type="submit" name="Search" />
        </br>
            <label for="Name">Search by floor:</label>
            <input type="submit" class="btn btn-default" value="1">1</input>
            <button type="submit" class="btn btn-default" value="2">2</button>
            <button type="submit" class="btn btn-default" value="3">3</button>
            <button type="button" class="btn btn-default">4</button>
            <button type="button" class="btn btn-default">5</button>
            <button type="button" class="btn btn-default">6</button>
            <button type="button" class="btn btn-default">7</button>
            <button type="button" class="btn btn-default">8</button>
    </form>
        </p>
    </div>
</div>

<div class="container-fluid bg-3 text-center">
    <div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>floor</th>
            <th>name</th>
            <th>skypeVC</th>
            <th>hdmi</th>
            <th>remotes</th>
            <th>lan</th>
            <th>labels</th>
            <th>instructions</th>
            <th>comments</th>

        </tr>
        </thead>
        <th:block th:each="conf : ${confRoomModel}">
            <tr align="left">
                <td th:text="${conf.floor}">floor</td>
                <td th:text="${conf.name}">name</td>
                <td th:text="${conf.skypeVc}">skypeVc</td>
                <td th:text="${conf.hdmi}">hdmi</td>
                <td th:text="${conf.remotes}">remotes</td>
                <td th:text="${conf.lan}">lan</td>
                <td th:text="${conf.labels}">labels</td>
                <td th:text="${conf.instruction}">instruction</td>
                <td th:text="${conf.comments}">comments</td>
            </tr>
        </th:block>
    </table>

</div>

</div>
<br><br>
</div>
<p>Click <a th:href="@{/home}">here</a> go to Home</p>

</div>
</div><br><br>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
